{% extends 'base.html' %}

{% block title %}test{% endblock %}

{% block content %}
<div class="mui-row">
	<div class="mui-col-sm-10 mui-col-sm-offset-1">
		<div class="mui--text-dark-secondary mui--text-headline">Introduction</div>
		<div class="mui-divider"></div>
	</div>
	<div class="mui-col-sm-10 mui-col-sm-offset-1">
		<p>
		The game of Guess Who? is played by two players. Before the game starts
		both of them pick a	character from a set of characters to represent
		them. Each character exhibits different traits. The goal of the game
		is to figure out which of the characters the other player has picked,
		the first player to do so wins the game. Player alternate asking the
		other player 'yes' or 'no' questions about which traits their character
		possesses. Players are also always allowed to directly guess what the
		identity of their opponent is.
		</p>

		<p>To keep the game simple we are going to have four different traits:
		whether the person has a beard, hat, glasses and whether the person is
		bald. For each trait there are two characters who exhibit this trait,
		so there are 6 characters in total.</p>
	</div>

	<div class="mui-col-sm-10 mui-col-sm-offset-1">
		<div class="mui--text-dark-secondary mui--text-headline">Characters</div>
		<div class="mui-divider"></div>
	</div>
</div>
{% endblock %}
