{% extends 'base.html' %}

{% block title %}Play Guess Who?{% endblock %}

{% block content %}
<div class="mui-row">
	<div class="mui-col-sm-10 mui-col-sm-offset-1">
		<div class="mui--text-dark-secondary mui--text-headline">Instructions</div>
		<div class="mui-divider"></div>
	</div>
	<div class="mui-col-sm-10 mui-col-sm-offset-1">
		<p>Add some explanation.</p>
	</div>
</div>
<div class="mui-row">
	<div class="mui-col-sm-offset-1 mui-col-sm-10">
		<a href="{% url 'guesswho:reset' %}" class="mui-btn mui-btn--danger">Start new game</a>
	</div>
</div>

{% if messages %}
	<div class="mui-row">
		<div class="mui-col-sm-10 mui-col-sm-offset-1">
		<ul class="messages">
			{% for message in messages %}
				<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
		</div>
	</div>
{% endif %}

{% if not request.session.char %}
	<div class="mui-row">
		<div class="mui-col-sm-10 mui-col-sm-offset-1">
			<div class="mui--text-dark-secondary mui--text-title">
				Pick your character
			</div>
			<div class="mui-divider"></div>
		</div>
		<div class="mui-col-sm-10 mui-col-sm-offset-1">
			{% for c in chars %}
				<a href="{% url 'guesswho:char' c %}"
					class="mui-btn mui-btn--raised">{{ c }}</a>
			{% endfor %}
		</div>
	</div>
{% else %}
	<div class="mui-row">
		<div class="mui-col-sm-10 mui-col-sm-offset-1">
			<div class="mui--text-dark-secondary mui--text-subhead">
				Knowledge
			</div>
			<div class="mui-divider"></div>
		</div>
		<div class="mui-col-sm-10 mui-col-sm-offset-1">
			<div class="mui--text-body2">
				You have picked {{ request.session.char }}.
			</div>
		</div>
		<div class="mui-col-sm-4 mui-col-sm-offset-1">
			Show game board
		</div>
		<div class="mui-col-sm-2">
			<div class="mui--text-dark-secondary mui--text-caption">
				Computer knows
			</div>
			{% autoescape off %}
				{% for k in npc_knows %}
					{{ k }}</br>
				{% endfor %}
			{% endautoescape %}
		</div>
		<div class="mui-col-sm-2">
			<div class="mui--text-dark-secondary mui--text-caption">
				Computer knows that you know
			</div>
			{% autoescape off %}
				{% for k in player_knows %}
					{{ k }}</br>
				{% endfor %}
			{%endautoescape %}
		</div>
	</div>

	<div class="mui-row">
		<div class="mui-col-sm-10 mui-col-sm-offset-1">
			<div class="mui--text-dark-secondary mui--text-subhead">Questions</div>
			<div class="mui-divider"></div>
		</div>
		<div class="mui-col-sm-10 mui-col-sm-offset-1">
			<a href="{% url 'guesswho:question' 'bald' %}"
				class="mui-btn mui-btn--raised">Is he bald?</a>
			<a href="{% url 'guesswho:question' 'beard' %}"
				class="mui-btn mui-btn--raised">Does he have a beard?</a>
			<a href="{% url 'guesswho:question' 'glasses' %}"
				class="mui-btn mui-btn--raised">Does he wear glasses?</a>
			<a href="{% url 'guesswho:question' 'moustache' %}"
				class="mui-btn mui-btn--raised">Does he have a moustache?</a>
		</div>
	</div>

	<div class="mui-row">
		<div class="mui-col-sm-10 mui-col-sm-offset-1">
			{% for question in request.session.questions %}
				<div>{{ question }}</div>
			{% endfor %}
		</div>
	</div>
{% endif %}

{% endblock %}
